<% include partials/header %>

  <div class="ui header huge centered">
    <h1>Rhyan's Blog</h1> 
  </div>
  <div class="ui top attached segment">
    <div class="ui divided items">

      <% posts.forEach( (post)=> { %>

        <div class="item">
          <div class="image">
            <img src="<%= post.image %>" alt="">
          </div>
          <div class="content">
            <a class="header" href="/blogs/<%=post._id%>"><%= post.title %></a>
            <div class="meta">
              <span><%= post.created.toDateString() %></span>
            </div>
            <div class="description">
              <p><%- post.body.substring(0,100) %>...</p>
            </div>
            <div class="ui extra"> 
              <a href="/blogs/<%= post._id%>" class="ui right floated violet button">
                Read More...  
                <i class="ui right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      <%});%>
    </div>
  </div>

<% include partials/footer %>