<% include partials/header %>

  <div class="ui header huge centered"><h1>Rhyan's Blog</h1> </div>
    <div class="ui cards">
      <% posts.forEach( (post)=> { %>

        <div class="ui card ">
          <div class="content">
            <div class="image">
              <img src="<%= post.image %>" alt="">
            </div>
            <h2 class="header"><%= post.title %></h2>
            <small class="meta"><%= post.created %></small>
            <p class="description"><%= post.body %></p>
            
          </div>
          <a href="/blogs/<%= post._id%>">
              <div class="ui bottom attached button">
                <!-- <i class="add icon"></i> -->
                <div class='ui header blue'>Read More...</div>
              </div>
            </a>
        </div>

      <%});%>
    </div>

<% include partials/footer %>