<% include partials/header %>
<div class="ui text container segmented ">
  <!-- HEADER -->
  <div class="middle aligned content">
    <div class="ui huge header">
      <h1 class="inline"><%= post.title %></h1>
      <a href="/blogs/<%=post._id%>/edit"><i class="edit icon"></i></a>
    </div>
  </div>
  <!-- MAIN BODY -->
  <div class="ui top attached ">
    <div class="item">
      <div class="image">
        <img class="ui centered rounded image" src="<%= post.image %>" alt="">
      </div>
      <div class="content">
        <div class="meta">
          <span><%= post.created.toDateString() %></span>
        </div>
        <div class="description">
          <p><%- post.body %></p>
        </div>
      </div>
    </div>
  </div> 
  <!-- BUTTONS -->
  <div class="extra ">
    <a href="/blogs/<%=post._id%>/edit"><button class="ui primary basic button left floated"><i class="edit icon"></i> Edit</button></a>
    <form class="" action="/blogs/<%=post._id%>?_method=DELETE" method="POST">
      <button class="ui negative basic button right floated " type="submit"><i class="trash icon"></i>Delete</button>
    </form>
  </div>
</div>

<% include partials/footer %>
