<% include partials/header %>

<div class="ui text container segment">
  <div class="ui huge header"><%= post.title %></div>      
  <span class="meta"><%= post.created.toDateString() %></span>
  <div class="ui top attached ">
    <div class="item">
      <img class="ui centered rounded image" src="<%= post.image %>" alt="">
      <div class="content">
        <p class="description"><%- post.body %></p>
      </div>
    </div>
  </div> 
  <a class="ui primary basic button floated left " href="/blogs/<%=post._id%>/edit" >Edit</a>
  <form class="inline " action="/blogs/<%=post._id%>?_method=DELETE" method="POST">
    <button class="ui negative basic button right floated" type="submit">Delete</button>
  </form>
</div>

<% include partials/footer %>
